@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
html {
  width:100vw;
  overflow-x:hidden;
  scroll-behavior:smooth;
}
* {
  padding:0;
  margin:0;
  border:0;
}
*,
*:before,
*:after {
  box-sizing:border-box;
}
:focus,
:active {
  outline:none;
}
html,
body {
  height:100%;
  font-family:'Montserrat', sans-serif;
}
body {
  line-height:1;
}
input,
button,
textarea {
  font-size:inherit;
}
button {
  cursor:pointer;
  color:inherit;
  background-color:inherit;
}
a {
  color:inherit;
  text-decoration-line:none;
  transition:all 0.3s;
}
a:link,
a:visited {
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}
ul li {
  list-style:none;
}
img {
  vertical-align:top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight:inherit;
  font-size:inherit;
}
body {
  margin:0;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
#root {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}
code {
  font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

